//COLORS
$color-white: #fff;
$color-light-gray: #f5f6f8;
$color-dark-gray: #3f424a;
$color-light-green: #d7ffb9;
$color-green: #0dbb00;
$color-dark-green: #205c00;
$color-danger: #e92d2d;

//BUTTONS
$btn-bg-color: #009200;
//TAGS
$highlight-bg-color: $color-light-green;
$highlight-font-color: $color-green;

//typography 
$proximanova-regular: 'ProximaNova-Regular';
$proximanova-semibold: 'ProximaNova-Bold';
$proximanova-bold: 'ProximaNova-Extrabld';
$proximanova-cursive-regular: 'ProximaNova-RegularIt';

$typography-color: $color-dark-gray;
$typography-color-inverse: $color-white;

$line-height: 1.4375rem;

$link-color: $color-dark-green;
$typography-copyright-color: rgba($color-white, 0.2);
$link-footer-color: rgba($color-white, 0.8);
$typography-imput-color: rgba($color-dark-gray, 0.7);

//SECTIONS
$section-base-color: $color-white;
$section-secondary-color: $color-light-gray;
$section-footer-color: $color-dark-gray;
//BORDERS
$border-main-color: $color-light-gray;
$input-border-color: $color-green;

//SPACING 
$base-padding: 2rem;
$padding-body: $base-padding*2.5;
