.extra-info {
    padding: $base-padding;
    @include for-size(sm) {
        display: flex;
        justify-content: space-around;
    }
    &__title {
        text-transform: uppercase;
        font-family: $proximanova-bold;
        @include h-reset;
        margin-bottom: 1.3rem;
    }
    p {
        margin: 0;
        line-height: 1.4375rem;
    }
    &__assurance {
        margin-bottom: $base-padding;
        @include for-size(sm) {
            width: 65%;
            margin: 0;
        }
    }
    &__availability {
        @include for-size(sm) {
            width: 30%;
        }
    }

}