.footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    margin-bottom: 0;
    a {
        color: $link-footer-color
    }
    p {
        color: $typography-copyright-color;
        margin: 0 0 3rem 0;
    }
    ul {
        @include list-reset;
        li {
            display: inline-block;
            margin-right: 0.7rem;
            font-size: 0.9rem;
        }
    }
    a, ul {
        margin-bottom: 2rem;
    }
}