.hero {
    height: 100vh;
    margin-bottom: 4.4rem;
    background: url('./assets/images/svg/hero-background.svg') no-repeat;
    background-position: 0 -3px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include for-size(700px) {
        align-items: center;
        flex-direction: row;
    }
    @include for-size(md) {
        margin-bottom: 6.4rem;
    }
    @include for-size(lg) {
        margin-bottom: 8.4rem;
    }
    &__cta {
        display: inline-block;
        color: $typography-color-inverse;
        @include for-size(700px) {
            width: 35%;
        }
        @include for-size(md) {
            width: 45%;
        }
        @include for-size(lg) {
            width: 35%;
        }
        h2 {
            margin-top: 0;
            font-family: $proximanova-semibold;
            @include for-size(md) {
                font-size: 2.3rem;
            }
        }
        ul {
            @include list-reset;
            line-height: 2.5rem;
            text-transform: capitalize;
            padding-left: 0.7rem;
            padding: 0 $base-padding;
            margin-bottom: 2rem;
            @include for-size(md) {
                font-size: 1.4rem;
            }
        }
    }
    &__showcase {
        display: none;
        @include for-size(700px) {
            display: inline-block;
            width: 65%;
            margin-top: 7rem;
        }
        @include for-size(lg) {
            margin-top: 17rem;
        }
        img {
            @include img-responsive;
        }
    }
    &__showcase-testimonial {
        font-size: 0.6rem;
        text-align: right;
        margin: 0;
        position: relative;
        color: $typography-color-inverse;
        @include for-size(600px) {
            top: -8vw;
            left: -7vw;
        }
        @include for-size(1000px) {
            color: $typography-color;
        }
        @include for-size(md) {
            top: -7vw;
            left: 0;
        }
        footer b {
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        @include for-size(md) {
            font-size: 0.8rem;
        }
    }
}