.hero {
    height: 100vh;
    margin-bottom: 4.4rem;
    background: url('/assets/images/svg/hero-bg1.svg') no-repeat;
    background-size: cover;
    @include for-size(600px) {
    }
    @include for-size(md) {
        margin-bottom: 6.4rem;
    }
    @include for-size(lg) {
        margin-bottom: 13.4rem;
    }
    &__cta {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: $typography-color-inverse;
        h2 {
            margin-top: 0;
            font-family: $proximanova-semibold;
            @include for-size(md) {
                font-size: 2.3rem;
            }
        }
        ul {
            @include list-reset;
            text-transform: capitalize;
            padding-left: 0.7rem;
            padding: 0 $base-padding;
            margin-bottom: 2rem;
            @include for-size(md) {
                font-size: 1.4rem;
            }
        }
    }
    &__showcase {
        position: relative;
        display: none;
        @include for-size(600px) {
            display: block;
            position: absolute;
            top: 11rem;
            right: 0rem;
        }
        img {
            @include for-size(600px) {
                width: 57vw;
                height: auto;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    &__showcase-testimonial {
        position: relative;
        font-size: 0.6rem;
        top: 33vw;
        right: 8vw;
        text-align: right;
        margin: 0;
        footer b {
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        @include for-size(md) {
            font-size: 0.8rem;
        }
    }
}