.testimonial {
    padding: $base-padding;
    @include for-size(md) {
        display: flex;
        justify-content: space-around;
    }
    &__imagen {
        margin: auto;
        display: block;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1.5rem;
        @include for-size(md) {
            margin: 0 3.4rem 0 0;
        }
    }
    &__quote {
        margin: 0;
        line-height: 1.4rem;
        p {
            margin: 0 0 1rem 0;
        }
        @include for-size(md) {
            margin-right: 1.6rem;
        }
    }
    &__source {
        text-transform: uppercase;
        font-family: $proximanova-semibold
    }
    &__rating {
        display: flex;
        justify-content: center;
        margin-bottom: 1.3rem;
        line-height: 0.8;
        @include for-size(md) {
            order: 3;
        }
        span {
            margin-right: 0.3rem;
            font-size: 2rem;
            color: gold;
        }
    }
}